[2015-07-13 18:44] cowtowncoder opened #3 "Added a link from main jackson page"
(apologies for adding a "non-issue" issue, but figured this is a reasonable way to contact authors -- will be happy to communicate using better methods too afterwards -- you can contact me via `tatu` at fasterxml dot com for example, in addition to referencing via my account)

First of all, thank you for writing this datatype module. I think it is great to get serialization support for new standar

[2015-08-24 13:34] sdeleuze commented on #3
It would be nice to have this module supported by Jackson since we are talking about the standard Java Money API. Any thoughts ?

[2015-08-27 13:58] sdeleuze opened #5 "Make deserialization working without jackson-module-parameter-names"
Currently it seems it is not possible de deserialize data without having `jackson-module-parameter-names` dependency and registering it in Jackson `ObjectMapper`. It would be nice to avoid this by adding `@JsonCreator` and `@JsonProperty("foo")` annotations to classes like  `MoneyNode`.

[2015-08-27 13:59] snicoll commented on #5
:+1:

[2015-08-28 16:05] sdeleuze commented on #5
This issue seems to be itself a continuation of https://github.com/zalando/jackson-datatype-money/pull/4

[2015-09-01 10:25] #5 closed

[2015-09-01 10:28] whiskeysierra commented on #3
Absolutely. My only concern is that there might be several different ways to serialize money, e.g.

    {"amount": 9.95, "currency": "EUR"}

or

    {"amount": 995, "scale": 2, "currency": "EUR"}

or

    {"amount": "9.95", "currency": "EUR"}

All of which have different pros and cons (readability for humans/devs vs. incompatible parsers that read double values).

We are not exactly sure whether w

[2015-09-01 10:54] sdeleuze commented on #5
Awesome, Thanks! We would like to use `jackson-datatype-money` for our Spring One conference demo (it begins 09/14) so if there could be a 0.3.0 release before this date it would be just perfect!

[2015-09-01 11:11] whiskeysierra commented on #5
I released the current master as 0.3.0 to central right now. Should be available in the next hours.

[2015-09-01 11:11] sdeleuze commented on #5
Thanks again!

[2015-09-01 11:14] whiskeysierra commented on #3
@cowtowncoder I'm fine with being listed there (actually kind of proud, to be honest), but since we are still at 0.x.y maybe it should have a not saying it's still alpha/beta/early development?

Come to think of it, maybe we should tell that in our readme :)

[2015-09-01 11:19] whiskeysierra commented on #5
No problem! Thanks for the pull request :+1:

[2015-09-08 22:37] wwadge opened #6 "MonetaryAmountDeserializer currency"
I'm having trouble with the MonetaryAmountDeserializer.

When jackson attempts to create a new MoneyNode, it fails in calling the constructor because  CurrencyUnit is an interface and it doesn't know what concrete type to use.

The fix is easy - change the currency to a string and then convert internally:

[code]

[2015-09-09 18:33] cowtowncoder commented on #3
@sdeleuze I think that the proper way to support new standard Java type additions is via Jackson modules, even if it was possible to add support directly in Jackson databind module. This because number of different datatype libraries keeps on growing, and most users do not use all of these types.
But at practical level it is often not possible as core databind only requires JDK 6, and many new add

[2015-09-09 20:03] sdeleuze commented on #3
@cowtowncoder I totally agree with using a separated Jackson module for that, My request was more about having this module supported as an official module: hosted on https://github.com/FasterXML and released at the same time than Jackson itself, like other official modules. Sorry if it was not clearly expressed.

Side note: it seems that JSR 354 won't be part of Java 9.

[2015-09-09 21:34] jhorstmann commented on #6
Can you share a testcase demonstrating this problem? This should work, as shown in the unit test here: https://github.com/zalando/jackson-datatype-money/blob/master/src/test/java/org/zalando/jackson/datatype/money/MonetaryAmountDeserializerTest.java#L39

[2015-09-09 22:30] cowtowncoder commented on #3
@sdeleuze Ah ok. Yes, that makes sense.

[2015-09-16 11:23] wwadge commented on #6
I apologies - this must have been something else for I can no longer reproduce it reliably :-/

[2015-09-16 11:23] #6 closed

[2015-09-16 11:27] whiskeysierra commented on #6
I'd suspect this behaviour if one would use the `MonetaryAmountDeserializer` on its own, without using the Module.

[2015-09-23 16:15] whiskeysierra opened #10 "Improve readme to include Java 7 and 8 compatibility"

[2015-09-23 16:16] whiskeysierra opened #11 "Add syntax hints to code blocks in readme"

[2015-09-24 09:26] #11 closed

[2015-09-24 09:26] #10 closed

[2015-09-24 09:28] #3 closed

[2015-12-26 21:11] whiskeysierra opened #17 "Add support for RoundedMoney"
Right now there are factories for deserialization support for

- `FastMoney`
- `Money`

For completeness and consistency there should also be support for `RoundedMoney`.

[2016-02-19 19:17] #17 closed

[2016-02-23 17:47] jhorstmann opened #20 "Unwanted transitive dependency to jdk8 version of money api and ri"
This library should be compatible with both the jdk8 and jdk7-backport versions of java money, that's why we moved the dependencies into separate profiles. Unfortunately this does not seem to work, as this output from `mvn dependency:tree` from a project shows:

    [INFO] +- org.zalando:jackson-datatype-money:jar:0.6.0:compile
    [INFO] |  +- javax.money:money-api:jar:1.0:compile
    [INFO] |  \

[2016-02-27 18:58] whiskeysierra commented on #20
Mmh, interesting. Our current approach was to treat both versions, java 7 and 8, equal, i.e. we don't favor one over the other. What if we in fact do add a direct dependency to the java 8 version of java money and change the way we support the backport by letting users explicitly exclude them:

[code]

It's obviously a bit more cumbersome to use, but I have the assumption that the majority of clie

[2016-02-27 21:19] jhorstmann commented on #20
Agree, it would be ok if the backport is slightly more difficult to use. We should still try to run the tests with both implementations, this would be more difficult with the above approach.

And I still want to find out why this transitive dependency currently exists, as this contradicts my understanding of maven dependencies.

[2016-02-27 21:29] whiskeysierra commented on #20
We are using

[code]

for the `jdk8` profile. I don't remember why I added this.

[2016-02-28 09:31] jhorstmann commented on #20
Yes, but the dependency is still in a profile, even in the deployed pom (https://oss.sonatype.org/service/local/repositories/releases/content/org/zalando/jackson-datatype-money/0.6.0/jackson-datatype-money-0.6.0.pom). I can't find this behaviour described in the documentation and will investigate this today.

[2016-03-16 09:54] mastersimon opened #24 "Strange behaviour in case of 100.00 EUR value"
Hi all,

I´m wondering why this test runs into an error:

[code]

Result:
[code]

[2016-03-16 10:41] whiskeysierra commented on #24
`1E+2` is a valid JSON number that is equvialent to `100`:

![JSON Number](http://json.org/number.gif)

If you want to suppress that behaviour you can enable `WRITE_BIGDECIMAL_AS_PLAIN`:

    new ObjectMapper()
            .enable(SerializationFeature.WRITE_BIGDECIMAL_AS_PLAIN)
            .registerModule(new MoneyModule());

[2016-03-16 11:13] whiskeysierra commented on #24
It will actually produce `{"amount":100,"currency":"EUR"}` since the trailing zeros of the fraction aren't necessary.

[2016-03-16 16:16] #20 closed

[2016-03-16 20:58] jhorstmann commented on #24
To clarify, it is the money implementation that removes trailing zeroes, not jackson. To get a formatted output you can pass in a `MonetaryAmountFormatFactory` implementation to the `MoneyModule`, as described in the README.

[2016-03-17 18:40] #24 closed

[2016-05-23 06:16] whiskeysierra opened #30 "Fix zappr configuration"

[2016-05-24 19:35] #30 closed

[2016-06-22 09:57] ptahchiev opened #34 "CurrencyUnitDeserializer deserializes invalid currencies"
Hello,

at the moment the `CurrencyUnitDeserializer` will deserialize anything you pass as a currency. For example strings like `1123`, `eur`, or `xyz` are all invalid but the `CurrencyUnitDeserializer` will create a currency unit out of it. I think the correct behaviour is to only deserialize valid strings, such as `EUR` or `USD`. This could be done with the following code:
[code]

[2016-06-23 18:54] #34 closed

[2016-06-23 18:58] whiskeysierra commented on #34
@ptahchiev Thanks for the report. I just released 0.8.0, should be available in central soon.

[2016-08-15 13:32] whiskeysierra commented on #34
@ptahchiev I released 0.9.0 to central. Thanks for the contribution!

[2016-09-20 10:36] keyboardsamurai opened #38 "Concrete RI type Money not accepted for serialization"
Serializing a class that uses the reference implementation `Money` class instead of `javax.money.MonetaryAmount` will fail with the following message:

`com.fasterxml.jackson.databind.JsonMappingException: No suitable constructor found for type [simple type, class org.javamoney.moneta.Money]: can not instantiate from JSON object (missing default constructor or creator, or perhaps need to add/enabl

[2016-09-20 10:42] whiskeysierra commented on #38
Hi, thanks for raising the issue. Personally I'd refrain from coding against concrete implementation rather than abstractions. But I see some value in this and no reason not to support it. I'll take a look.

[2016-09-20 11:06] whiskeysierra commented on #38
@keyboardsamurai I opened #39 which includes new tests for deserializing into Money, FastMoney and RoundedMoney respectively.

[2016-09-20 11:33] #38 closed

[2016-09-20 11:54] whiskeysierra commented on #38
@keyboardsamurai I deployed 0.10.0 to central, could take a while before it's available.

[2016-09-20 17:19] keyboardsamurai commented on #38
That was quick 👍  I verified and it's working. Thank you.

[2016-09-28 11:26] joris77 opened #40 "Custom naming for currency and amount fields"
Would it be possible to make the names of the MonetaryAmount configurable? So for example a monetary amount would be serialized like this if you configure the amount field to be named value:

`{
  "currency" : "EUR",
  "value" : 100
}`

[2016-09-28 11:32] whiskeysierra commented on #40
We are using an intermediate object right now to do the de/serialization (`MoneyNode`). The name is pretty much hard coded there right now. That's something I wanted to get rid for a while now, but had no real reason/incentive to do so. Making the name configurable would actually be one. I'll take a look.

[2016-09-28 14:05] whiskeysierra commented on #40
@joris77 Can you take a look at #41?

[2016-09-29 12:57] #40 closed

[2016-09-29 19:50] joris77 commented on #40
Yes i looked at it looks exactly what we need. I will try it. Thank you very much for the quick response and fix

[2016-10-04 09:37] whiskeysierra commented on #40
@joris77 I just released 0.11.0. Should be available in central soon. Thanks for the suggestion/issue.

[2017-05-03 20:52] Psynbiotik opened #43 "Amount is sent as number, consider string instead"
I wanted to find another page which outlines in more depth the issues, but I could only find the ones below.

A quick summary is some JSON parsers will deserialize numbers as floats which obviously is problematic for Money. Other issues with eventually being deserialized as a float are limitations on size and problems with adding/subtracting. If you send it as a String it will be deserialized as a

[2017-05-03 20:57] Psynbiotik commented on #43
https://www.techempower.com/blog/2016/07/05/mangling-json-numbers/

[2017-05-04 07:40] AlexanderYastrebov commented on #43
Related discussion https://github.com/zalando/jackson-datatype-money/pull/42

[2017-05-04 08:00] whiskeysierra commented on #43
Related section in our guidelines: http://zalando.github.io/restful-api-guidelines/common-data-objects/CommonDataObjects.html#should-use-a-common-money-object

I hope that spreadsheet is public, otherwise I'll copy the gist here.

[2017-05-04 08:12] AlexanderYastrebov commented on #43
It is true that the problem with serialization type for monetary amount is purely a client side problem.
OTOH I can imagine (and I would do this myself) API designer who would like his clients to think twice about what they are doing when they are working with monetary and a good way to do this is to use string serialization for amount.
Our guidelines are, well, ours but I think it is good for the

[2017-05-04 15:51] Psynbiotik commented on #43
@whiskeysierra Looks like the spreadsheet is not public, copying the gist here would be helpful.

@AlexanderYastrebov I agree, I'd like to see this use string serialization by default to force clients to think about it and prevent some default client side behavior pitfalls or at least have an easy way to enable the option to do string serialization while supporting either/or for deserialization.

[2017-05-04 17:08] AlexanderYastrebov opened #44 "Link in README to SerializationConfig is broken"

[2017-05-05 08:14] stefanzilske opened #46 "Type Id Handling not supported"
Hi Folks,

I want to serialise Money types with Type Info, so that I can properly use it in serialised collections. In order to achieve this, I use Jackson DefaultTyping for polymorphic serialisation. Otherwise, type information will get lost when I serialise a Collection.

This is my (simplified) scenario:

[code]

When I try to run this, I get the following Exception:

[code]

I hope you get the

[2017-05-05 08:17] whiskeysierra commented on #46
What's your goal? Do you want to preserve the type information, i.e. which implementation of MonetaryAmount it was when serializing?

[2017-05-05 08:24] stefanzilske commented on #46
Yes, exactly.

If I don't use the DefaultTyping, Jackson will not be able to deserialise the DomainObjects inside the collection again, as it has no type information. DefaultTyping add the necessary type information, but it does not work with Money types.

[2017-05-05 08:57] whiskeysierra commented on #46
@stefanzilske Can you take a look at #47?

[2017-05-05 09:00] #44 closed

[2017-05-09 12:01] whiskeysierra commented on #43
@Psynbiotik I opened a PR with the discussion rewritten into a somewhat comprehensive document, see #49

[2017-05-11 06:33] whiskeysierra opened #50 "Remove deprecated elements"
e.g. constructors in
- MoneyModule
- MonetaryAmountDeserializer

[2017-05-11 06:34] whiskeysierra opened #51 "Change amount parameter type from BigDecimal to Number"
`MonetaryAmountFactory.create(BigDecimal, CurrencyUnit)` should be changed to use either `Number` or `NumberValue`.

[2017-05-11 08:15] AlexanderYastrebov commented on #51
Two of three impls currently lack constructors accepting NumberValue, so probably it should be Number.
Also with Number this change looks like non breaking.

[2017-05-11 08:17] whiskeysierra commented on #51
NumberValue extends Number, so that would work. Changing the parameter to Number would be breaking since existing implementations (outside of our control) would then not be compatible anymore.

[2017-05-11 08:19] AlexanderYastrebov commented on #51
yes, but then you have to extract number from NumberValue back and you have to construct NumberValue somehow as well to pass it in.

yes, it would not be binary compatible but should compile just fine

[2017-05-11 08:32] whiskeysierra commented on #51
Why?

`DefaultNumberValue.of(..)`

No, since existing implementations will have `BigDecimal` but our new spec requires `Number` or `NumberValue`. As a return value that would be source compatible, but not with parameters.

[2017-05-11 08:36] AlexanderYastrebov commented on #51
Ah, I was thinking about client classes which _use_ MonetaryAmountFactory, but impls would break, yes.

You have to extract number from NumberValue back since 2 of 3 impls of MonetaryAmount do not support constructors accepting NumberValue

[2017-05-11 08:37] whiskeysierra commented on #51
`NumberValue` extends `Number`, you can just pass it along.

[2017-05-11 17:51] #43 closed

[2017-05-12 08:06] whiskeysierra opened #53 "Hide de/serializer implementations"
Right now all de/serializer implementations are public so client could use them directly, if needed. We should consider making them package private and only open them up if the need arises. It would reduce our public API surface drastically.

[2017-05-12 08:24] AlexanderYastrebov commented on #53
One big issue with this is that it will not allow clients to easily upgrade to 2.0

[2017-05-12 08:47] whiskeysierra commented on #53
Clients that actually use them right now?

[2017-05-12 11:51] #46 closed

[2017-05-12 12:16] AlexanderYastrebov commented on #53
Yes

[2017-05-12 12:29] whiskeysierra commented on #53
Which is fine, technically. We are creating a new major version, so we can have breaking changes. If somebody needs access and wants to switch to 2.x he needs to open an issue and explain his requirement.

[2017-05-29 11:26] whiskeysierra opened #54 "Drop support for java.util.Currency"

[2017-05-29 11:50] AlexanderYastrebov commented on #54
Why?

[2017-05-29 12:01] whiskeysierra commented on #54
It's not really related to Java Money and it's not needed. At least to my knowledge.

[2017-05-29 12:49] #54 closed

[2017-05-29 12:49] #50 closed

[2017-05-29 13:02] #53 closed

[2017-05-29 14:28] #51 closed

[2017-05-29 14:31] AlexanderYastrebov opened #59 "Provide number value serializer factory"
As a library
I want to provide number value serializer factory
So that I can hide implementation types
And have more freedom refactoring them

 `DecimalNumberValueSerializer` and `QuotedDecimalNumberValueSerializer` are to be replaced by proposed factory.

[2017-05-30 08:36] #59 closed

[2017-08-31 13:48] OthmanTenich opened #64 "MonetaryAmount serialization"
Hello,

I have an issue during the serialization of a MonetaryAmount.

When I try to serialize an amount of 100.00 EUR for example, the corresponding JSON is the following :
`{"amount":"1E+2","currency":"EUR"}`

I would like to get `{"amount":"100.00","currency":"EUR"}` instead.

In fact, what I expect is an amount formatted with the currency digit places number. If the currency has 3 digit places

[2017-08-31 13:49] jntakpe commented on #64
Same issue here

[2017-08-31 14:19] whiskeysierra commented on #64
Based on your example I can see that you serialize amounts as strings. There are two ways to do that:

1. Enable `JsonGenerator.Feature.WRITE_NUMBERS_AS_STRINGS` or
2. Configure the `QuotedDecimalNumberValueSerializer`

In case you use 1. you could also enable `JsonGenerator.Feature.WRITE_BIGDECIMAL_AS_PLAIN`. That will at least give you:

[code]

If you want to use the number of fraction digits a

[2017-08-31 14:56] OthmanTenich commented on #64
Thank you for your prompt response.

If I understood the code, the serialization is done in the `serialize()` method of `MonetaryAmountSerializer`

Instead of the following code line :
`generator.writeObjectField(names.getAmount(), number);`

Is it possible to pass a `String` to Jackson there ?
We can then pass the formatted string of the amount.

I wrote a method that do this :
[code]

We could r

[2017-08-31 15:13] whiskeysierra commented on #64
This call

will ultimately delegate to either `DecimalNumberValueSerializer` or `QuotedDecimalNumberValueSerializer`.

Possible yes, but not desirable. The decision whether the amount is serialized as a decimal number (default) or as a string (optional) should not be made by the `MonetaryAmountSerializer`.

Your issue is actually two different issues:
1. Don't use scientific notation. This is acco

[2017-08-31 15:34] OthmanTenich commented on #64
The use of correct number of fraction digits is important in a banking context. If the amount does not contain the correct number of fraction, it is considered wrong.

But I agree with you that in terms of calculation it is useless.

I checked the formatting classes of the library and they seem to be used for the `formatted` filed in the Json as follows : `{"amount":"1E+2","currency":"EUR","format

[2017-08-31 15:39] whiskeysierra commented on #64
That is correct. To me it sounds like you're trying to format it in a specific way.

[2017-08-31 15:43] OthmanTenich commented on #64
Yes. But I would like to get something like `{"amount":"100.00","currency":"EUR"}`.

I need the `amount` field to be formatted, not to add a field to the Json. Why have you put something to format the amount as a String if the `amount` field is used for calculation purposes only ?

[2017-08-31 15:46] whiskeysierra commented on #64
Why? It wouldn't make a difference in calculations and that should be the only purpose of this field. In JSON `100`, `100.00` and `1E+2` are all equivalent.

[2017-08-31 15:49] OthmanTenich commented on #64
In Json 100, 100.00 and 1E+2 are equivalent. But not in a banking context. I don't see the point of writing the amount as a string in the Json then. Numbers in Javascript are int, float, etc. not strings

[2017-08-31 15:50] OthmanTenich commented on #64
Sorry if I'm not clear

[2017-08-31 17:45] OthmanTenich commented on #64
I left the office. I will post some code tomorrow.

[2017-09-01 06:46] OthmanTenich commented on #64
Hi,

I'm working on a banking application that uses Json in REST APIs. I need to write the amount in Json with the right format. When you work with money, 1E+2 EUR is not correct. Any money api validation will reject this. The correct format is 100.00 EUR. So I cannot send `{"amount":"1E+2","currency":"EUR"}`. This is not a correct format when you manipulate money amounts. I absolutely need a form

[2017-09-01 07:21] tkrop commented on #64
Interesting discussion.

My 2 cents: From a representational perspective I would expect the library to serialize to
`{"amount":100.00,"currency":"EUR"}`, as this exactly expressing the monetary amount in a kind of standardized JSON. I would expect the number of digits to be expanded with `0` as is usual for the minor units, and I would expect the library to allow for fractions of minor units to an

[2017-09-01 07:28] whiskeysierra commented on #64
But your money api validators are not working on JSON values, are they?

[2017-09-01 07:58] OthmanTenich commented on #64
They are

[2017-09-01 07:58] OthmanTenich commented on #64
They validate the JSON format of the amount

[2017-09-01 08:00] OthmanTenich commented on #64
oups.

The APIs check that the JSON format is correct before deserializing it to a Java object

[2017-09-01 08:01] whiskeysierra commented on #64
Do you have an extension for Jackson or are you using a different library for deserializing?

[2017-09-01 08:02] OthmanTenich commented on #64
I am using yours for now. But I have the issue of serialization. I try to solve this before thinking to the deserialization.

[2017-09-01 08:05] whiskeysierra commented on #64
So you're planning to validate the JSON value before deserializing, but you are not doing it right now?

[2017-09-01 08:07] whiskeysierra commented on #64
What I am majorly confused about is why the format of the JSON value matters. I mean you're obviously using this library and it deserializes into `Money`. As long as `100`, `1E+2` and `100.00` all deserialize into the very same `Money` value, then I don't see the problem here.

[2017-09-01 08:09] OthmanTenich commented on #64
Right now I deserialize the JSON amount into a class that looks like this :
[code]
This allows me to keep the JSON string format of the amount in Java and then perform controls on it.

[2017-09-01 08:10] OthmanTenich commented on #64
The JSON format matters because I consume other APIs that will reject my request if the JSON amount format is not as expected.

[2017-09-01 08:11] OthmanTenich commented on #64
I know that it does not matter in my internal model because I store a MonetaryAmount. But it is important to have the right format in the JSON too.

[2017-09-01 08:22] whiskeysierra commented on #64
Ok, that was the missing piece of information. You need to control the format for those APIs since you don't control them. Make sense then. I'll prepare a PR. It will be part of the 2.x version that is not released yet.

[2017-09-01 08:24] OthmanTenich commented on #64
Ok. Thank you.

Could you include the digits formatting depending on the currency default digits number ?

[2017-09-01 08:34] whiskeysierra commented on #64
Yes, I'll make the format based on `CurrencyUnit.getDefaultFractionDigits()`.

[2017-09-01 08:46] whiskeysierra commented on #64
@OthmanTenich @jntakpe Take a look at #66

[2017-09-04 10:24] #64 closed

[2017-09-04 12:36] whiskeysierra commented on #64
@OthmanTenich @jntakpe I released 1.0.0-RC1 to central.

[2017-09-08 19:33] sappenin opened #67 "Restore CurrencyUnitDeserializer?"
Any reason `CurrencyUnitDeserializer` was removed in the [9/1 commit](64cdfe7f909bed4122856a400ef1e8490a94883b)?

It would be nice to use this library to serialize/deserialize standalone fields of type [javax.money.CurrencyUnit](https://github.com/JavaMoney/jsr354-api/blob/master/src/main/java/javax/money/CurrencyUnit.java).

[2017-09-11 06:56] whiskeysierra commented on #67
We removed it in an attempt to reduce the public API to a workable minimum. I did this under the assumption that de/serializing `MonetaryAmount` instances is the primary if not even the only use case. I guess I was wrong. I'll re-create the support for `CurrencyUnit`.

[2017-09-11 15:10] sappenin commented on #67
Awesome - thanks for being open to the request! In my case, I have an API that's advertising a currency unit by itself.

[2017-09-12 05:07] whiskeysierra commented on #67
@sappenin Feel free to take a look at #68.

[2017-09-17 01:46] sappenin commented on #67
Looks great, thanks!

[2017-09-20 07:57] #67 closed

[2017-09-20 08:11] whiskeysierra commented on #67
@sappenin I released 1.0.0-RC2 to central just now.

[2017-09-21 19:15] pluttrell opened #69 "SpringFox Generation"
We've found this library to work great parsing and rendering `MonetaryAmount` instances as:

[code]

However when SpringFox generates the Swagger docs on the same code, it describes the rendering as:

[code]

Is there a way to solve this?

[2017-09-21 20:40] whiskeysierra commented on #69
Does this still apply? https://stackoverflow.com/questions/41675459/springfox-swagger-generation-creates-odd-schema

I've never used springfox myself.

[2017-09-28 10:00] pluttrell opened #70 "RestTemplate Integration"
Is there some additional configuration required to get deserialization working with Spring's `RestTemplate`?

I'm getting the following error:

[code]

I'm using version `org.zalando:jackson-datatype-money:1.0.0-RC2` with `'org.javamoney:moneta:1.1'` and am trying to deserialize:

[code]

into:

[code]

Using a `RestTemplate` built as follows:

[code]

where the `objectMapper` is created by Spring

[2017-09-28 10:16] whiskeysierra commented on #70
Are you sure this converter is used? The third line in your screenshot shows another converter for jackson.

[2017-09-28 10:24] pluttrell commented on #70
What do you mean by converter? I'm not very familiar with Jackson internals, I've always added support for additional types like this through their `Module` feature. And the `com.fasterxml.jackson.datatype.jsr310.JavaTimeModule` right above it is properly serializing and deserializing Java8 date/time types.

[2017-09-28 10:26] whiskeysierra commented on #70
The third line from the very top. I'm talking about a message converter that is also registered with Spring. Have you verified with your debugger which converter is actually running?

[2017-09-28 10:28] pluttrell commented on #70
How do I verify which converter is running?

[2017-09-28 10:44] pluttrell commented on #70
Good catch. The `TypeConstrainedMappingJackson2HttpMessageConverter` was indeed being used and the `ObjectMapper` it contained did not have the `MoneyModule`, only this one: `org.springframework.hateoas.hal.Jackson2HalModule`.  The contentType of the response I'm receiving is `application/hal+json;charset=UTF-8`, which appears to have triggered that converter.

So with that root cause, do you have

[2017-09-28 13:03] whiskeysierra commented on #70
Any idea who registered the `TypeConstrainedMappingJackson2HttpMessageConverter`? My best bet would be to merge both, i.e. register the `Jackson2HalModule` in the other object mapper and re-use it for both use cases. If that doesn't work, I'd try to register the `MoneyModule` in both ObjectMappers.

[2017-10-02 21:20] whiskeysierra commented on #70
@pluttrell Did you manage to resolve your issue? Can I close this?

[2017-10-04 10:58] #70 closed

[2017-10-04 10:59] whiskeysierra commented on #69
@pluttrell Have you managed to resolve this? I'll close this for now. I believe the stackoverflow answer gives some hints how to do this. Feel free to re-open, if needed.

[2017-10-04 10:59] #69 closed

[2017-10-06 01:43] pluttrell commented on #69
@whiskeysierra Many thanks for getting back to me.

That SO answer suggests a mechanism where the rendering of one time is replaced with another, which is helpful in controlling how it renders. In the example, it uses a `Double.class` or `String.class`, which if one used `Double.class` would render it in SpringFox simply as:

[code]

So to use that method, we'd need a type to use. In looking throu

[2017-10-28 18:00] ptahchiev opened #71 "Create LocaleProvider to resolve correctly current locale"
Hello,
the `MonetaryAmountSerlializer` currently always gets the default locale from the configuration (mine is `en_US` ):
https://github.com/zalando/jackson-datatype-money/blob/master/src/main/java/org/zalando/jackson/datatype/money/MonetaryAmountSerializer.java#L57

The problem I have is that my customers are able to change the session currency they view the website in.

I'd like to introduce a

[2017-10-29 21:59] whiskeysierra commented on #71
Did you take a look at
https://github.com/zalando/jackson-datatype-money/blob/master/README.md#formatting?
The locale in the configuration is not global nor static, you can overwrite
it by using an ObjectWriter.

On Oct 28, 2017 20:00, "Petar Tahchiev" <notifications@github.com> wrote:

Hello,
the MonetaryAmountSerlializer currently always gets the default locale from
the configuration (mine is en

[2017-10-30 05:35] ptahchiev commented on #71
Hi Willi Schönborn,

sorry - I was unaware I could change the locale via the `ObjectWriter`. I am using Spring to automatically serialize my POJOs as return values from my controllers and I don't know how I could access the `ObjectWriter`.

[2017-10-30 14:00] whiskeysierra commented on #71
Looks like Spring doesn't allow access to the writer that they use under the hood, see [AbstractJackson2HttpMessageConverter](https://github.com/spring-projects/spring-framework/blob/master/spring-web/src/main/java/org/springframework/http/converter/json/AbstractJackson2HttpMessageConverter.java#L268):

[code]

[2017-10-30 14:00] whiskeysierra commented on #71
It would be nice to get Spring to support this, somehow.

[2017-10-31 11:28] ptahchiev commented on #71
Yes, one way is to have spring support for this, but another way is the also let jackson-datatype-money to be more flexible and provide this extra feature. Perhaps @jhoeller or @rstoyanchev might have an opinion on this.

[2017-11-21 09:06] #71 closed

[2017-12-20 17:37] sappenin opened #75 "Adjust No-Args Constructor in CurrencyUnitSerializer to be public?"
Is there any chance we could change the no-args constructor of `CurrencyUnitSerializer` to have `public` visibility?

Not sure if there's any particular reason for it to be `package-private`, but currently it's not possible to use this serializer in a SimpleModule (i.e., without using the `MoneyModule` or some other class in the `org.zalando.jackson.datastype.money` package).

[2017-12-20 20:38] whiskeysierra commented on #75
I always try to minimize the public API as much as possible. Can you describe your use case? Why can't you just register the MoneyModule?

[2017-12-23 23:42] sappenin commented on #75
Sure thing -- in some of our APIs, we have resource representations that model something like a bank "Ledger" -- that representation has no money values in it, but one of the attributes is a currency code (`CurrencyUnit` type) that indicates the type of asset held on a given ledger.

I was hoping to be able to register a `SimpleModule` using your CurrencyUnit (de)serializer without having to regis

[2017-12-23 23:44] sappenin commented on #75
Closing this issue for now given my comment above. If you think of something that fits my use-case, feel free to re-open?

[2017-12-23 23:44] #75 closed

[2018-02-24 10:15] ptahchiev opened #76 "CurrencyUnitDeserializer throws UnknownCurrencyException if empty string is passed"
Hello I have a rest service and I want to set my currency to null. That's why I do a POST request specifying that `{currency:}` and on the server side I get the following exception:
[code]

Looking at the `CurrencyUnitDeserializer` it looks like if an empty string is passed then the given exception will be raised:
[code]
Can you please add a empty-string check so that if the value given is null or

[2018-03-01 15:49] whiskeysierra commented on #76
`{currency:}` is invalid JSON. Are you sending `null` or an empty string?

[2018-03-01 15:51] ptahchiev commented on #76
I'm calling it via rest and the `{currency:}` is printed in the google-chrome console. I believe it is sending an empty string.

[2018-03-01 15:51] whiskeysierra commented on #76
Well, empty string is not a valid ISO currency code. Have you tried null?

[2018-03-01 15:53] ptahchiev commented on #76
Even though it is not a valid ISO currency code I would argue that the deserializer should maybe return null.

[2018-03-01 15:57] whiskeysierra commented on #76
The responsibility of the deserializer is to treat incoming strings as ISO currency codes and deserialize them as `CurrencyUnit`. The only special handling that I'd accept is `null` (in JSON) should become `null` (in Java). Empty strings are not `null` and they shouldn't be treated as equals.

Are you in control of the client that issues the request? Why can't you modify it to send the correct val

[2018-03-07 09:56] #76 closed

[2018-04-19 12:01] whiskeysierra opened #79 "Introduce API Guardian"
https://github.com/apiguardian-team/apiguardian

[2018-04-20 21:15] #79 closed

[2018-04-24 03:41] soberich opened #82 "Known issue with setters on MonetaryAmount"
Hi,
There is a known issue but no known workaround.
tried Jackson 2.9.5, 2.9.4, and some else..
[code]

It is super annoying as the whole project could've be completely automated but with this all MonetaryAmounts have be treated specially. Please advise.

[2018-04-24 07:54] whiskeysierra commented on #82
We're using jackson 2.9.5 successfully in this project. What are you trying to do? Can you share some code? Jackson shouldn't need to know about `javax.money.MonetaryAmountFactory#setNumber`, afaict.

[2018-04-25 00:05] soberich commented on #82
Which part of the code do you need?
I simply have POJOs where there are fields of type MonetaryAmount and during deployment of the app, probably during initializing providers like RestEasyJackson2Provider and all other stuff with resteasy-servlet-initializer, and while Swagger does the same trying to generate Api defenitions with it's own same stuff like its own version of resteasy-servlet-initial

[2018-04-25 09:49] soberich commented on #82
Ok, I see this is a swagger issue.
Also linked here https://github.com/FasterXML/jackson-databind/issues/1251.

[2018-04-25 09:49] #82 closed

[2018-06-20 09:55] kiranreddykasa opened #110 "Ability to change default digits for a particular currency"
Ability to change default digits for a particular currency

## Detailed Description
For eg default digits for TWD currency is 2 but we do need to return zero  digits

## Context
Accordiing to busineess needs users can change the decimal points for specific currency

[2018-06-20 10:50] whiskeysierra commented on #110
Your request would touch this place in the code:

https://github.com/zalando/jackson-datatype-money/blob/565402c4412f84c57a5f6f19949a4256ac336fea/src/main/java/org/zalando/jackson/datatype/money/DecimalAmountWriter.java#L16-L20

We basically allow clients to use a higher scale than the default fraction digits of the currency, but not a smaller one. I believe to remember that we did this to make su

[2018-06-20 10:51] whiskeysierra commented on #110
@jhorstmann @AlexanderYastrebov @lukasniemeier-zalando Thoughts?

[2018-06-20 15:31] AlexanderYastrebov commented on #110
I like option #1: no data is lost, no manipulations are done and client can display value with amount of decimal digits she wants (could be even conditional on value or something else).

[2018-07-06 21:00] whiskeysierra commented on #110
I prefer Option 3, to be honest.

[2018-07-09 09:47] lukasniemeier-zalando commented on #110
I vote for option 1 - leave it up to the client's code to decide

[2018-07-11 06:09] whiskeysierra commented on #110
Ok, I'll submit to the majority.

I actually tried to remove the scaling yesterday and I realized we have two different issues then:

1. **Seemingly arbitrary scientific notation**
   The amount of *100 EUR* will look different on the wire depending on which `MonetaryAmount` implementation is used. `FastMoney` results in `1E+2` the other two will use `100`. That's really unfortunate, but based on

[2018-07-11 07:45] AlexanderYastrebov commented on #110
`DecimalAmountWriter` implements `AmountWriter<BigDecimal>` thus it returns BigDecimal so one may argue that it is up to serialization layer and client to render it as they like.

Original inquiry was about configuring decimal amount representation for particular currency which is achievable by implementing custom `AmountWriter`.

Having said that, resolution of this ticket might be to leave `Deci

[2018-07-11 07:47] whiskeysierra commented on #110
`AmountWriter` is also package private right now, by design.

[2018-07-11 07:47] whiskeysierra commented on #110
@AlexanderYastrebov What you describe is basically Option 2, in a nutshell, right?

[2018-07-11 13:18] AlexanderYastrebov commented on #110
@whiskeysierra Basically I propose not to try to predict what clients might need, but allow them to easily implement what they want

[2018-07-15 19:49] ptahchiev opened #112 "Please release version with moneta 1.3"
Moneta 1.3 is out. Do you support it? Can you please release a version to maven central that updates the dependency.
Thank you.

[2018-07-15 20:44] whiskeysierra commented on #112
Any major change that would break our module? Did you try it?

[2018-07-15 20:57] ptahchiev commented on #112
I haven't tried it yet ..

[2018-07-16 09:44] whiskeysierra commented on #112
See #113, tests are working without any modification. You should be safe when upgrading to the newest version.

[2018-07-16 09:44] #112 closed

[2018-08-07 15:09] #110 closed

[2018-08-07 15:11] whiskeysierra commented on #110
@kiranreddykasa I released the change as 1.1.0 to central. You're now able to implement your own, custom `AmountWriter` in which you're in full control of fraction digits.

[2020-04-02 09:27] towojtek opened #213 "CNH currency is not being deserialized"
## Description
com.fasterxml.jackson.databind.JsonMappingException: Unknown currency code: CNH

## Expected Behavior
Handling CNH currency by lib

## Actual Behavior
com.fasterxml.jackson.databind.JsonMappingException: Unknown currency code: CNH

## Possible Fix
Extend list of currencies.

## Steps to Reproduce

1. Run junit test with CNH currency.

[2020-07-15 18:17] djfried opened #221 "Version 1.1.1 in Maven central is using NumberValue not BigDecimal"
https://github.com/zalando/jackson-datatype-money/blob/f1f42349debd276bdf7413067d971ebee70ef032/src/main/java/org/zalando/jackson/datatype/money/MonetaryAmountFactory.java#L16

Wondering why there is a mismatch or what version uses BigDecimal

[2020-07-15 18:46] whiskeysierra commented on #221
Latest version in master is not released, I assume.

[2020-07-22 18:46] keilw opened #224 "Any plans to contribute to Jackson-datatypes-misc?"
I know, at some point the Zalando extension module for BeanValidation and JavaMoney was contributed to Hibernate Validator, do you consider something similar with the https://github.com/FasterXML/jackson-datatypes-misc repository that offers e.g. bindings for JodaMoney (not as powerful as JSR 354, e.g. lack of conversion) or is there a reason like licensing that won't allow this here?

[2020-07-29 06:56] ptahchiev opened #226 "When can we expect 1.1.2?"
Is there any timeline for the 1.1.2 release?

[2020-07-29 07:01] whiskeysierra commented on #226
Which feature are you looking/waiting for?

[2020-07-29 07:11] whiskeysierra commented on #213
We rely on java money/moneta as the underlying library to manage currencies, so this is out of our reach.
From what I can tell, CNH is not a valid ISO-4217 currency code and therefore not supported by java.util.Currency etc.

See also
- https://stackoverflow.com/questions/50677177/work-around-for-adding-cnh-as-a-valid-currency-in-java-util-currency
- https://www.iso.org/iso-4217-currency-codes.htm

[2020-07-29 07:11] #213 closed

[2020-07-29 07:18] whiskeysierra commented on #224
I haven't, until now.

Not that I'm aware of, no.

I'm not opposed to this, but curious. In contrast to the bean validation support for JavaMoney (which was added as an optional piece directly to the hibernate validator core), what's the immediate benefit? It would still live as a separate module with its own lifecycle, similar as it does right now, doesn't it? The only difference being that it wo

[2020-07-29 09:28] whiskeysierra commented on #226
I released 1.2.0 just now.

[2020-07-29 09:28] #226 closed

[2020-07-29 09:28] whiskeysierra commented on #221
I released 1.2.0 just now.

[2020-07-29 09:28] #221 closed

[2020-07-30 02:17] djfried commented on #221
Thanks will check it out!

On Wed, Jul 29, 2020 at 4:28 AM Willi Schönborn <notifications@github.com>
wrote:

[2020-08-06 23:09] keilw commented on #224
Could you ask the contributors to https://github.com/FasterXML/jackson-datatypes-misc @deejay1 and @cowtowncoder what they think about it.
Similar to your input the JodaMoney support could have been done by the Joda committer(s) at Joda.org, but it wasn't, so I guess the authors of https://github.com/FasterXML/jackson-datatypes-misc decided to take ownership here.
If they wold be happy to maintain

[2020-08-07 06:57] whiskeysierra commented on #224
@deejay1 @cowtowncoder Are you reading this? Opinions? Thoughts?

[2020-08-10 03:10] cowtowncoder commented on #224
I would be happy to integrate this module as part of `jackson-datatypes-misc` repo, if everyone agrees it makes sense. From quick look at README here (but not checked code), it seems like a good fit.

The way ownership works would be such that original owners would still more or less own the module, but what I (or more generally Jackson core team which at this point mostly means me anyway) would d

[2020-08-10 07:03] whiskeysierra commented on #224
Sounds good

Would be nice, if take a deeper look to make sure whether it's a good fit, especially from architecture and API design perspective.

Is Jackson following SemVer? If yes, how strictly?

Sounds like my preferred approach. Great!

[2020-08-10 20:04] cowtowncoder commented on #224
Jackson does follow SemVer regarding its public-facing API, so typical user code written for given 2.x version should keep working for later ones. 1.x and 2.x lived in different Java packages (and Maven artifacts) so they can co-exist without interfering.

But some of internal interfaces need to evolve at faster rate (*), especially ones that are based on sub-classing, so that Jackson components a

[2020-08-10 20:07] cowtowncoder commented on #224
I will add link to this issue on my wiki TODO page:

https://github.com/FasterXML/jackson-future-ideas/wiki/Jackson-Work-in-Progress

and we can collaborate on possibly merging this into `jackson-datatypes-misc`. I think it could make it into 2.12.0 release if all goes well, and that would seem like a clean cut-off point.

[2020-08-10 23:57] keilw commented on #224
I'd be happy to help either with PR or otherwise, given I am currently the most active Maintenance Lead of JSR 354.

[2020-08-11 00:08] cowtowncoder commented on #224
@keilw That would be very much appreciated, PR would be against `2.12` branch (I can merge forward to master which is for 3.0.0-SNAPSHOT). I would need CLAs from you and @whiskeysierra I think:

https://github.com/FasterXML/jackson/blob/master/contributor-agreement.pdf

before merge (simplest way is to print the doc, fill & sign, scan/photo, send to `info` at fasterxml dot com) but there is no hur

[2020-08-11 16:43] chrylis opened #231 "Suggestion: Change default amount serialization to string"
*Note: This is likely to be considered a breaking change, but I wanted to raise it due to the progress in #224.*

While "amounts" are semantically numeric values, and JSON number values are technically arbitrary-precision decimal, the default handling for JSON numbers in most languages is as a double-precision-similar type (_particularly_ JavaScript `Number`).

Representing the amount as a decimal

[2020-08-11 21:01] whiskeysierra commented on #231
I would be lying if I were to say that I didn't expect this to be a point contention.

Yes, that would be a breaking change. Not just for current users of this library, but also in regards to the specification/guidelines that inspired us to provide this library in the first place: https://opensource.zalando.com/restful-api-guidelines/#173

I wholeheartedly agree with those two statements. Monetary

[2020-09-21 22:26] jeffjensen opened #246 "MoneyModule seems configured but Jackson not deserializing"
If objectMapper.getRegisteredModuleIds() contains org.zalando.jackson.datatype.money.MoneyModule, why would this error still occur?
[code]

It seems the Money Jackson HttpMessageConverter not configured?  Is there another setup step I missed, e.g. also need to configure the converter?

Running with Spring Boot v2.3.1.RELEASE, Spring v5.2.7.RELEASE.

Configured by this in a @Configuration class:
[c

[2020-09-22 00:04] whiskeysierra commented on #246
How did you configure your JacksonHttpMessageConverter?

[2020-09-22 00:28] jeffjensen commented on #246
Spring Boot does it; can see AbstractJackson2HttpMessageConverter in use in this stack trace. However, I may misunderstand another configuration need.

[code]

[2020-09-22 19:27] whiskeysierra commented on #246
But how is that configured? Where does it come from?

[2020-09-22 21:05] jeffjensen commented on #246
Spring Boot has a JacksonAutoConfiguration class and others that auto-configure ObjectMapper.  For example, it auto-registers any Spring bean of type com.fasterxml.jackson.databind.Module; from [1]:

Therefore, making MoneyModule a Spring bean like this:
[code]
has Boot automatically add it to ObjectMapper's modules.

MoneyModule automatically registers the Deserializers and Serializers so I think

[2020-09-22 21:09] whiskeysierra commented on #246
That one only configures the ObjectMapper and its modules. But my suspicion is that your JacksonHttpMessageConverter is not making use of that particular object mapper instance but another one (without the MoneyModule).

[2020-09-23 06:12] andrewhj commented on #246
I have thrown together an example here: https://github.com/andrewhj/jackson-money-demo .  The serialization works using the spring boot auto configuration.  However, debugging shows that something in the RestTemplate uses a separate JacksonHttpMessageConverter.  Perhaps then this is a spring issue as to how why RestTemplate would use a different converter than the Controllers?

[2020-09-23 06:41] whiskeysierra commented on #246
Spring auto wires a separate converter for the RestTemplate, but it should be using the very same ObjectMapper instance. See:

- RestTemplateAutoConfiguration
- HttpMessageConvertersAutoConfiguration
- JacksonHttpMessageConvertersConfiguration

If you put some break points in there you should be able to debug whether those are used and whether it's the same ObjectMapper instance.

[2020-10-04 23:54] cowtowncoder commented on #224
Quick note: as per above note: I created a separate issue on target repo, in case someone wants to work on technical aspects of moving this over -- mostly to find relatively easy things for Hacktoberfest participants to tackle.

If anyone is already working on this, please just add a note on that issue.

[2020-10-06 21:59] #246 closed

[2020-10-22 21:17] altfatterz opened #257 "can I provide a custom MonetaryAmountDeserializer?"
Could not find how could I provide a custom **MonetaryAmountDeserializer**
I would need it handle cases when **amount** or **currency** are not provided. In this case setting the MonetaryAmount field to **null** in the response object.

Or is there any other way to do this?

[2020-10-22 21:32] whiskeysierra commented on #257
I'm not sure that Java money supports that. Have you tried creating a Money
instance without amount and/or currency?

On Thu, 22 Oct 2020, 23:17 Zoltan Altfatter, <notifications@github.com>
wrote:

[2020-10-27 09:59] altfatterz commented on #257
Managed to override the built `MonetaryAmountDeserializer` from Zalando library with the following configuration:

[code]

where in the `CustomMonetaryAmountDeserializer` I can handle **amount=null** or **currency=""** cases

[code]

[2020-10-27 09:59] #257 closed

[2020-10-29 17:57] winniewithana opened #260 "Failed to get nested archive for entry BOOT-INF/lib/moneta-1.4.2.pom after upgrading to 1.2.0"
## Description
I am working on a spring boot project and upgrading the jackson-datatype-money to 1.2.0 which causes the jar file is failed to unpacked because the pom file is included in the jar for this version.

## Expected Behavior
It should work as same as 1.1.0 which is not included the pom file.

## Actual Behavior
I think it's probably why it ends up including the pom file
https://github.co

[2020-10-29 19:19] whiskeysierra commented on #260
That's really weird. I found this old commit which introduced that: https://github.com/zalando/jackson-datatype-money/commit/9b396e1a45a101445dafd788938d3dc1ee019bc9

But I can't remember why. I guess I didn't realize back then that the groupId of moneta changed from `org.javamoney` to `org.javamoney.moneta` and I didn't find the right dependency anymore. This `pom` dependency still pulls in the c

[2020-10-29 19:27] #260 closed

[2020-10-29 19:31] whiskeysierra commented on #260
I just released 1.2.1 with a bugfix to maven central. Should be available soon. Please let me know if it doesn't solve your issue.

Thanks for reporting this!

[2020-12-10 20:36] bradmac-ats commented on #246
In my case I was using `TestRestTemplate` in a `@SpringBootTest`, and I just needed to autowire the preconfigured `TestRestTemplate` instead of creating one myself.

[2021-06-04 14:20] KrystianLaskowskiBCF opened #301 "Integration with JSR-303 and Spring Validation"
I'd like to use Spring Validation all across my application. However, default deserializer kicks in before Spring Validation and JsonParseException is thrown. Is there any way that doesn't require writing custom deserializer to supress default check if fields are present?

[2021-06-16 10:37] whiskeysierra commented on #301
JSR-303 aka Bean Validation is meant for semantic validation, i.e. are the properties of a bean (or a graph thereof) set correctly. I'd treat JSON document validation differently:

1. JSON syntax, i.e. fail if the document is not even valid JSON
2. JSON schema, i.e. fail if the document is not compliant with the schema, e.g. using OpenAPI https://opensource.zalando.com/restful-api-guidelines/#173

[2021-06-30 11:24] #301 closed

[2021-08-16 13:10] darioseidl opened #314 "Serialization fails after upgrade to Spring Boot 2.3.5 / Jackson 2.11.3"
After upgrading from Spring Boot 2.3.4 to Spring Boot 2.3.5, which upgrades Jackson from 2.11.2 to 2.11.3, serialization of `Money` with the `MonetaryAmountSerializer` fails with the following error:

[code]

## Description

I have yet to investigate this issue further and find out why and where is fails exactly. I'll update this issue as soon as I find anything specific. I suspect it has to do wi

[2021-08-23 14:30] darioseidl commented on #314
What I found out so far: It doesn't work with the latest Spring Boot (2.5.4) either. It seems to be a problem with Spring Data Rest or HATEOAS instead of Jackson. After the upgrade, `Money`s are serialized by `BeanPropertyWriter.serializeAsField` as `EntityModel<Money>` instead of `Money`. Apparently, there was a [similar bug with JsonValue](https://github.com/spring-projects/spring-data-rest/issu

[2021-10-13 15:13] darioseidl commented on #314
As @odrotbohm explained, the problem seems to be originally caused by a [change in Hibernate](https://hibernate.atlassian.net/browse/HHH-14198) and Spring Data didn't handle that. There will be a workaround for this, to make it work again in Spring Data, but he also suggests that this should be fixed here, so I'm reopening this.

https://github.com/spring-projects/spring-data-rest/issues/2056#issu

[2021-11-16 06:13] cberg-zalando commented on #301
@whiskeysierra Looks like the script generating a release's chaneglog is also including issues, which are closed, but not fixed.

[2021-12-28 07:47] urajio opened #340 "Support @JsonUnwrapped please"
As far as I understood, @JsonUnwrapped does not work for MonetaryAmount type field

## Detailed Description
DTO class
[code]
does not serialize as
[code]
## Context

## Possible Implementation

## Your Environment

* Version used: 1.3.0

[2022-03-03 10:11] Gaibhne opened #359 "Unable to parse CSV data"
There seems to be no path to using this module together with `jackson-dataformat-csv`.

## Description
When defining a column as `MonetaryAmount` and attempting to deserialize, the following error appears:

[code]

## Expected Behavior
I expected it to work.

## Actual Behavior
I get the error pasted above.

## Possible Fix
Unlike JSON, CSV does not support nested properties, which I suspect inter

[2022-05-09 07:55] #314 closed